.additional-stock-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    height: 75vh;
    margin: 0 auto;
    padding: 36px 24px 8px;
}

.additional-stock__tools{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.additional-stock__downloads{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.additional-stock__links{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.additional-stock-container article{
    background-color: var(--primary-color);
    margin: 8px;
    padding: 8px;
}

.additional-stock-container article h3{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.3rem;
    border-bottom: 1px solid var(--secondary-color);
    margin: 12px;
}

.additional-stock-container article ul{
    text-align: left;
    margin-left: 24px;
}

.additional-stock-container article ul li{
    list-style: none;
}

.additional-stock-container article ul li a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1em;
    font-weight: 300;
    line-height: 2em;
    transition: var(--time-transition);
}

.additional-stock-container article ul li a::before,
.additional-stock-container article ul li a::after{
    content: '';
    position: absolute;
    bottom: 19px;
    left: -20px;
    height: 4px;
    width: 12px;
    border-radius: 2px;
    transform: rotate(45deg);
    background-color: var(--tertiary-color);
    opacity: 0;
    transition: var(--time-transition);
}

.additional-stock-container article ul li a::after{
    bottom: 12px;
    transform: rotate(135deg);
}

.additional-stock-container article ul li a:hover{
    color: var(--tertiary-color);
}

.additional-stock-container article ul li a:hover::before,
.additional-stock-container article ul li a:hover::after{
    opacity: 1;
}
