.collage-main-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4px;
    height: 100vh;
    width: 100%;
}


.collage-main-container .figure1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-image: url(asset/img/background/background3.jpg);
    background-size: cover;
}

.collage-main-container .figure2{
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    background-image: url(asset/img/background/background2.jpg);
    background-size: cover;
}

.collage-main-container .figure3{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-image: url(asset/img/background/background6.jpg);
    background-size: cover;
}

.collage-main-container .figure4{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background-image: url(asset/img/background/background1.jpg);
    background-size: cover;
}