.footer-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 25vh;
    background-color: var(--secondary-color);
    overflow: hidden;
}

.footer-container__left,
.footer-container__right{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 48px;
}

.footer-container__left img{
    height: 120px;
    width: 160px;
    padding: 0 12px;
}

.text-left__container, 
.text-right__container{
    padding: 0 12px;
    width: 280px;
}


.text-left__container p,
.text-right__container p{
    font-size: .8rem;
    line-height: 28px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--primary-color);
}

.text-right__container p{
    position: relative;
    text-align: right;
}

.text-right__container p::after{
    content: '';
    position: absolute;
    height: 100px;
    width: 2px;
    background-color: var(--primary-color);
    right: -16px;
    top: -24px;
}

.footer-container__right img{
    height: 100px;
    padding: 0 12px;
}