@media (max-width: 769px) {

    .media--768,
    body main:nth-child(odd),
    body main:nth-child(even){
        display: block;
        padding: 24px;
        margin: 0 0 12px 0;
    }

    .main--h2{
        font-size: 3rem;
        border-bottom: 2px solid var(--tertiary-color);
        padding: 0;
    }

    .nav-container{
        background-color: var(--primary-color);
    }

    .nav-container__menu{
        display: block;
    }

    .nav-container__list{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color);
        height: 0;
        right: 0;
        top: 60px;
        transition: var(--time-transition);
        overflow: hidden;
    }

    .nav-container__list.visible{
        height: 246px;
    }

    .nav-container__list li{
        padding: 12px;
        border-bottom: 1px solid var(--gradient-tertiary-color);
        transition: var(--time-transition);
        text-align: right;
    }

    .nav-container__list li:nth-child(1){
        border-top: 1px solid var(--gradient-tertiary-color);
    }

    .nav-container__list li:hover{
        background-color: var(--tertiary-color);
    }

    .nav-container__list li::before{
        content: '';
    }
    
/*territory*/

    .territory-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 24px auto;
        height: 100%;
        gap: 8px;
        padding: 0;
        justify-items: start;
    }

    .territory-container__card{
        width: 320px;
        height: 320px;
        margin: 16px 0;
    }

    .card__content{
        padding: 24px 12px;
    }

    .card__content-text h3{
        font-size: 1.2rem;
    }

    .card__content-text p{
        font-size: .8rem;
    }

    .card__content-button a, .card__content-button input[type="button"]{
        margin-right: 4px;
        font-size: .6rem;
    }

    /* select zones*/

    .card__content-zones{
        width: 100%;
        left: 12px;
        top: -240px;
        transition: calc( var(--time-transition) * 2);
    }

    .active{
        top: 16px;
    }

    .card__content-zones div p,
    .card__content-zones div a,
    .card__content-zones div span{
        font-size: .7rem;
    }

    .card__content-zones div p{
        font-weight: 500;
    }


    /*news*/

    .news-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        height: 200vh;
        padding-top: 0;
    }

    .news-container__principal{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        margin: 4px;
        padding: 0;
    }

    .news-container__principal-content{
        padding: 8px;
    }

    .news-container__principal-content h3,
    .card__content h3{
        margin-bottom: 8px;
        font-size: 1.2rem;
    }

    .news-container__principal-content p,
    .card__content p{
        font-size: .8rem;
    }

    .news-container__secondary{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 4px;
        padding: 0;
    }
    
    .news-container__tertiary{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin: 4px;
        padding: 0;
    }

    .additional-news{
        left: 8px;
        bottom: -12px;
    }
    
    /*activities*/

    .activity-container{
        height: 150vh;
        padding-top: 0;
    }

    .current-works-container{
        padding-top: 0;
        height: 100vh;
    }
    
    .activity__icons,
    .current-works__icons{
        width: 100%;
        height: 240px;
        margin: 36px auto 0;
    }

    .activity__icons > div > img,
    .current-works__icons > div > img{
        height: 96px;
        width: 96px;
    }

    .activity__icons > div > span,
    .current-works__icons > div > span{
        font-size: 2rem;
    }
    
    .activity__icons > div > p,
    .current-works__icons > div > p{
        font-size: .8rem;
    }

    .current-works__datastudio-container{
        width: calc(100% - 48px);
    }


    .activity-container iframe{
        height: calc(150vh - 240px - 36px);

    }

    .current-works__iframe-container{
        height: calc(100vh - 240px - 36px);
        width: calc(100% - 48px);
    }


    /*additional stocks*/

    .additional-stock-container{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .additional-stock-container article{
        margin: 8px 0;
    }

    .additional-stock-container article h3{
        font-size: 1.2rem;
        margin: 8px;
    }
    
    /*footer*/

    .footer-container__left,
    .footer-container__right{
        padding: 0 12px;
    }

    .footer-container__left img{
        height: 80px;
        width: 100px;
        padding: 0 4px;
    }

    .text-left__container, 
    .text-right__container{
        padding: 0 4px;
        width: 240px;
    }

    .text-left__container p,
    .text-right__container p{
        font-size: .6rem;
        line-height: 20px;
        font-weight: 300;
    }

    .text-right__container p::after{
        height: 96px;
        width: 2px;
        background-color: var(--primary-color);
        right: -12px;
        top: -26px;
    }

    .media--pc,
    body main aside h2::after{
        display: none; 
    }
}

@media (max-width: 426px) {
    .main--h2{
        font-size: 2rem;
    }

    /*territory*/

    .territory-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .territory-container__card{
        width: 100%;
        margin: 12px auto;
    }

    .card__content-button{
        margin: 12px auto;
    }

    /*news*/

    .news-container{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 150vh;
    }

    .news-container article{
        display: block;
        height: calc(150vh / 3);
    }

    .news-container article:nth-child(4){
        display: none;
    }

    .news-container__principal-content > p{
        display: none;
    }


    /*activities*/


    .activity__icons,
    .current-works__icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 320px;
        margin: 24px auto;
    }

    .activity__icons > div,
    .current-works__icons > div{
        margin: 4px;
        height: 160px;
        width: 96px;
    }

    .activity__icons > div > img,
    .current-works__icons > div > img{
        height: 72px;
        width: 72px;
    }

    .activity__icons > div > span,
    .current-works__icons > div > span{
        font-size: 1.8rem;
    }

    .activity__icons > div > p,
    .current-works__icons > div > p{
        font-size: .7rem;
    }

    .activity-container iframe{
        height: 520px;
        width: 100%;
        margin: 0;
    }


    /*current- works*/

    .current-works-container{
        height: 100vh;
    }

    .current-works__iframe-container{
        height: 36vh;
    }

    .current-works__datastudio-container a{
        font-size: 1rem;
    }

    .current-works__datastudio-container a span{
        font-size: 1.2rem;
    }


    /*footer*/

    .footer-container__left img,
    .text-right__container p{
        display: none;
    }

    #logopbas{
        position: absolute;
    }
}
