.news-container{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    width: 100%;
    padding-top: 60px;
    background-color: var(--primary-color);
    padding-bottom: 24px;
}

.news-container__principal{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: var(--primary-color);
    margin: 24px;
    position: relative;
}

.news-container__principal--gradient,
.news-container__secondary--gradient,
.news-container__tertiary--gradient,
.news-container__quaternary--gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, var(--gradient-primary-color) 0%, var(--gradient-secondary-color) 50%, var(--gradient-tertiary-color)100%);
    z-index: 10;
}

.news-container__principal-content{
    position: absolute;
    bottom: 0;
    padding: 24px;
}

.news-container__principal-content a h3,
.card__content h3{
    display: inline-block;
    margin-bottom: 12px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
}

.news-container__principal-content p,
.card__content p{
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-color);
}

.image-container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.image-container__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.img1{
    z-index: 1;
}

.img2{
    z-index: 2;
    animation: opacity_img2 var(--time-animation) infinite alternate linear;
}

.img3{
    z-index: 3;
    animation: opacity_img3 var(--time-animation) infinite alternate linear;
}

.img4{
    z-index: 4;
    animation: opacity_img4 var(--time-animation) infinite alternate linear;
}

.img5{
    z-index: 5;
    animation: opacity_img5 var(--time-animation) infinite alternate linear;
}

@keyframes opacity_img2 {
    62.5%{opacity: 1;}
    82.5%{opacity: 1;}
    87.5%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes opacity_img3 {
    37.5%{opacity: 1;}
    57.5%{opacity: 1;}
    62.5%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes opacity_img4 {
    12.5%{opacity: 1;}
    32.5%{opacity: 1;}
    37.5%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes opacity_img5 {
    0%{opacity: 1;}
    7.5%{opacity: 1;}
    12.5%{opacity: 0;}
    100%{opacity: 0;}
}


/* Novedad secundaria*/

.news-container__secondary{
    position: relative;
    margin: 24px 24px 12px 0;
}

/* Tertiary news*/

.news-container__tertiary{
    position: relative;
    margin: 12px 24px 24px 0;
}


/* Quaternary news*/

.news-container__quaternary{
    position: relative;
    margin: 12px 24px 24px 0;
}

/*titles*/

.news-container article div div h2{
    position: absolute;
    bottom: 0;
    display: inline-block;
    margin: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
}

/*additional news*/

.additional-news{
    position: absolute;
    left: 24px;
    bottom: 8px;
}

.additional-news a{
    position: relative;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--text-color);
    text-decoration: none;
}

.additional-news a span{
    position: absolute;
    bottom: 0;
    right: -30px;
}

.additional-news a:hover{
    color: var(--tertiary-color);
}
