@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --dark-color: #181D26;
    --light-color: #ebf2f1;
    --dark-gray: #4f5965;
    --light-gray: #c8cacd;
    --primary-color: #098abd;
    --secondary-color: #6883A6;
    --tittle-font: "Nunito", sans-serif;
    --body-font: "Lexend", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(--light-color);
}

section{
    position: relative;
    width: 600px;
    border-radius: 4px;
    border: 1px solid var(--dark-gray);
    margin: 0 auto;
}

.tittle{
    margin: 12px auto 0;
    font-family: var(--tittle-font);
    font-size: .9rem;
    color: var(--dark-gray);
}

.header_container{
    position: absolute;
    top: -16px;
    left: 24px;
    height: 32px;
    width: 260px;
    border-radius: 2px;
    background-color: var(--primary-color);
}

.header_container h3{
    margin-left: 8px;
    font-family: var(--tittle-font);
    font-weight: 400;
    color: var(--light-color);
    line-height: 32px;
}

.link_container,
.additional_informations__link_container{
    display: flex;
    flex-direction: column;
    padding: 30px 24px 24px 24px;
}


.link_container div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-gray);
}

.link_container div a span,
.additional_informations__link_container a span{
    display: block;
    margin-top: 4px;
}

.link_container a,
.additional_informations__link_container a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--body-font);
    text-decoration: none;
    color: var(--dark-gray);
    font-weight: 400;
    line-height: 32px;
}

.additional_informations__link_container a{
    border-bottom: 1px solid var(--light-gray);

}

a:hover{
    font-weight: 600;
}

span:hover{
    scale: 1.1;
}
