body{
    width: 1936px;
    overflow: scroll;
}

.activity-table{
    width: 100%;
    background-color: var(--text-color);
    border-collapse: collapse;
}

.activity-table__header{
    width: 1936px;
    position: fixed;
    z-index: 1;
}

.activity-table__header tr th{
    display: inline-block;
    height: 44px;
    padding: 8px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: .7rem;
    font-weight: 500;
    border: .5px solid gray;
}

.activity-table__body{
    display: block;
    margin-top: 44px;
}

.activity-table__body tr td{
    position: relative;
    display: inline-block;
    padding: 8px;
    color: var(--primary-color);
    font-size: .7rem;
    font-weight: 300;
    
}

.activity-table__body > tr > td > span{
    position: absolute;
    font-size: .5rem;
}

tr:nth-child(even){
    background-color: var(--gradient-tertiary-color);
}

tr:hover{
    background-color: var(--tertiary-color);
}

.report a span{
    transition: var(--time-transition);
}

.activity-table__body tr td a:hover span{
    color: var(--text-color);
    font-weight: 700;
    transform: scale(1.2);
}

.report,
.date{
    width: 72px;
}

.duration{
    width: 72px;
}

.type,
.municipality,
.locality,
.cooperative{
    width: 120px;
}

.location,
.meters,
.waste{
    width: 160px;
}

.watercourse,
.workers{
    width: 200px;
}

.observations{
    width: 360px;
}

.ta-center{
    text-align: center;
}
