.territory-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 100%;
    margin: 0px auto;
    gap: 24px;
    padding: 60px 24px 24px;
    justify-items: center;
}

.territory-container__card{
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 360px;
    max-width: 400px;
}

.territory-container__img{
    object-fit: cover;
    object-position: center;
}

.card__content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
    padding: 24px;
    transition: transform var(--time-transition) ease-in 100ms;
    transform: translateX(-400px);
    opacity: .9;
}

.card__content-text h3,
.card__content-text p{
    color: var(--primary-color);
}

.territory-container__card:hover .card__content{
    transform: translateX(0);
}

.card__content-button{
    display: flex;
    justify-content: space-between;
}

.card__content-button a, .card__content-button input[type="button"]{
    display: inline-block;
    height: 36px;
    width: 140px;
    border-radius: 18px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: .7rem;
    font-weight: 300;
    text-align: center;
    line-height: 36px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: calc(var(--time-transition) / 2);
}

.card__content-button input[type="button"]:hover,
.card__content-button a:hover{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-weight: 500;
}


/* select zones*/

.card__content-zones{
    position: absolute;
    background-color: var(--text-color);
    width: 100%;
    left: 0;
    top: -250px;
    transition: calc( var(--time-transition) * 2);
}
.card__content-zones div ul{
    padding: 24px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card__content-zones div ul li{
    list-style: none;
    border-bottom: 1px dashed var(--secondary-color);
    text-align: center;
}

.card__content-zones div ul li a{
    text-decoration: none;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
}

.card__content-zones .zone__update,
.card__content-zones .zone__weekly-part{
    position: absolute;
    background-color: var(--primary-color);
    width: 50%;
    height: 236px;
    top: 260px;
    opacity: 0;
    transition: calc(var(--time-transition) * 2);
}

.card__content-zones .zone__update{
    left: -180px;
}

.card__content-zones .zone__weekly-part{
    right: -180px;
}

.card__content-zones .zone__update.active{
    left: 0;
    opacity: 1;
}

.card__content-zones .zone__weekly-part.active{
    right: 0;
    opacity: 1;
}

.card__content-zones div ul li a:hover{
    color: var(--tertiary-color);
}
